<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h3>{{pageTitle}}</h3>
    <p>Filler text</p>

    {{> footer}}
  </body>
</html>
